/* ###################################################### */
/* ###################################################### */
/* ################### FOOTER STYLES ###################  */
/* ###################################################### */
/* ###################################################### */

/* <<<------------------ Desktop Styles ---------------->>> */

footer {
  background: var(--light-bg-color);
  padding: 4em 0 1em 0;
  font-family: var(--text-font-family);
}

.footer-container {
  width: 100%;
  padding: var(--container-padding);
}
.logo-text {
  color: var(--primary-color);
  font-weight: bold;
}

.footer-address,
.go-to-address {
  color: var(--primary-color);
}

.footer-main {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "footer-address"
    "footer-nav"
    "icon-group--footer"
    "footer-bottom";
}

.footer-main {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "footer-address footer-nav footer-nav footer-nav icon-group--footer"
    "footer-bottom  footer-bottom footer-bottom footer-bottom footer-bottom";
}

.footer-address {
  grid-area: footer-address;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.footer-address img {
  max-width: 2.3em;
}

.footer-address {
  transition: var(--transition);
}

.footer-address a:hover {
  color: var(--active-color);
  transition: var(--transition);
}

.footer-nav {
  grid-area: footer-nav;
  grid-column: 2 / span 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}

.nav-links--footer {
  flex-direction: column;
  display: flex;
  gap: 1em;
  transition: var(--transition);
}

.nav-links--footer a:hover {
  color: var(--active-color);
  transition: var(--transition);
}

.icon-group--footer {
  grid-area: icon-group--footer;
  grid-column: 5;
  justify-self: end;
}

.footer-bottom {
  grid-area: footer-bottom;
  grid-column: 1 / 6;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.icon-group--footer,
.footer-bottom img {
  max-width: 60px;
}

.policies {
  display: flex;
  gap: 2em;
}

/* <<<------------------ Media Queries Styles ---------------->>> */

/* Max Width 800px Styles */
@media screen and (max-width: 800px) {
  footer {
    padding: 3em 0 0 0;
  }

  .footer-address {
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  .icon-group--footer {
    grid-column: 6;
    grid-row: 4;
  }

  .footer-nav {
    grid-column: 1 / span 6;
    grid-row: 2;
    justify-content: flex-start;
    gap: 5em;
  }

  .footer-bottom {
    grid-column: 1 / 6;
    grid-row: 4;
    gap: 0;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

/* Max Width 486px Styles */
@media screen and (max-width: 486px) {
  .footer-address {
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  .icon-group--footer {
    grid-column: 3 / 4;
    grid-row: 6;
    display: flex;
  }

  .icon-group--footer img {
    width: 50px;
  }

  .footer-nav {
    grid-row: 2 / span 4;
    gap: 3em;
    flex-direction: column;
  }

  .footer-bottom {
    grid-column: 1 /6;
    grid-row: 7;
    display: flex;
    padding-bottom: 2em;
  }
}
