/* ###################################################### */
/* ###################################################### */
/* ################ GLOBAL LAYOUT STYLES ###############  */
/* ###################################################### */
/* ###################################################### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* <<<------------------ Body Global Styles ---------------->>> */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--text-font-family);
  line-height: 1.5rem;
  background-color: var(--site-color);
  color: var(--primary-color);
  font-weight: var(--font-weight-light);
  min-height: 100vh;
  font-size: var(--regular-font-size);
  margin: var(--no-margin);
  padding: var(--no-padding);
  position: relative;
}

/* ###################################################### */
/* ################ DESKTOP STYLES ###############  */
/* ###################################################### */

/* <<<------------------ Container Global Styles ---------------->>> */
.container {
  /* background-color: rgb(163, 163, 152); */
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: var(--container-padding);
  margin: 0 auto;
  overflow: hidden;
}

/* <<<------------------ Images Global Styles ---------------->>> */
img {
  width: 100%;
  /* display: block; */
  object-fit: cover;
}

/* <<<------------------ Sections Global Styles ---------------->>> */
section {
  padding: var(--desktop-section-padding);
  /* width: 100vw; */
  margin: var(--no-margin);
  /* display: grid; */
  /* gap: 2rem; */
}

/* <<<------------------ List Global Styles ---------------->>> */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* <<<------------------ Links and Buttons Global Styles ---------------->>> */
.active {
  color: var(--active-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--font-weight-regular);
}

.lighter-text {
  color: var(--span-color);
}
a:active {
  text-decoration: none;
}

.primary-cta {
  display: block;
  font-family: var(--text-font-family);
  font-size: var(--regular-font-size);
  background-color: var(--primary-color);
  color: var(--white-text);
  margin: var(--primary-cta--margin);
  padding: var(--primary-cta-padding);
  /* border-radius: var(--cta-border-radius); */
  width: var(--primary-cta-width);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.secondary-cta-card--dark {
  display: inline-block;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: var(--regular-font-size);
  background-color: var(--secondary-color);
  color: var(--white-text);
  margin: var(--secondary-cta--margin);
  padding: var(--secondary-cta--padding);
  /* border-radius: var(--secondary-cta--border-radius); */
  width: var(--secondary-cta-width);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.subscribe-btn {
  display: inline-block;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: var(--regular-font-size);
  background-color: var(--secondary-color);
  color: var(--white-text);
  /* margin: var(--secondary-cta--margin); */
  padding: var(--secondary-cta--padding);
  /* border-radius: var(--secondary-cta--border-radius); */
  width: var(--secondary-cta-width);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.secondary-cta {
  display: inline-block;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: var(--regular-font-size);
  background-color: var(--secondary-color);
  color: var(--white-text);
  margin: var(--secondary-cta--margin);
  padding: var(--secondary-cta--padding);
  /* border-radius: var(--secondary-cta--border-radius); */
  width: var(--secondary-cta-width);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* ###################################################### */
/* ################ MEDIA QUERIES STYLES ###############  */
/* ###################################################### */

/* Max Width 1440px Styles */
/* @media (max-width: 1440px) {
  section {
    padding: var(--desktop-section-padding);
    margin: 0;
  }
} */

/* Max Width 800px Styles */
@media (max-width: 800px) {
  section {
    padding: var(--mobile-section-padding);
    /* margin: var(--no-margin); */
  }

  .container {
    width: 100vw;
  }
}
