/* ###################################################### */
/* ###################################################### */
/* ########### MAIN ABOUT PAGE LAYOUT STYLES ###########  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ############ ABOUT PAGE DESKTOP STYLES #############  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<-------------- ABOUT PAGE INTRO SECTION (desktop) ----------->>> */
/* <<<------------------------------------------------------------->>> */

section.hero-banner.has-background {
  display: flex;
  /* padding: 3em 0; */
  /* margin-top: 3em; */
  /* justify-content: center; */
  align-items: center;
}
.intro-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6em;
  align-items: center;
  flex-direction: column;
}

.split-left {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: space-between;
}

.split-left img {
  width: 50%;
}

.split-right {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: space-between;
}

.split-right img {
  width: 50%;
}

/* <<<------------------------------------------------------------->>> */
/* <<<-------------- ABOUT PAGE STORY SECTION (desktop) ----------->>> */
/* <<<------------------------------------------------------------->>> */

section.story-section {
  padding: 0;
}

.story-card {
  display: flex;
  margin: 2em 0;
  gap: 2em;
}
.story-card-content {
  min-height: 15, 6em;
  flex: 1 1 20em;
  padding: 2em;
  background-color: var(--site-color);
  box-shadow: 0 1px 30px rgb(0 0 0 / 10%);
}

/* ###################################################### */
/* ###################################################### */
/* #### MAIN ABOUT PAGE MEDIA QUERIES LAYOUT STYLES ####  */
/* ###################################################### */
/* ###################################################### */

/* ################################################################### */
/* ####### ABOUT PAGE MEDIA QUERIES STYLES (max-width: 800px) #######  */
/* ################################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<------------ ABOUT PAGE INTRO SECTION (max-width: 800px) ---->>> */
/* <<<------------------------------------------------------------->>> */

@media (max-width: 800px) {
  .intro-flex-wrapper {
    gap: 2em;
  }

  .split-left,
  .split-right {
    flex-direction: column;
  }

  .split-left-content,
  .split-left img {
    width: 80%;
  }

  .split-right {
    flex-direction: column-reverse;
  }
  .split-right-content,
  .split-right img {
    width: 80%;
    padding-bottom: 3em;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ ABOUT PAGE STORY SECTION (max-width: 800px) ---->>> */
/* <<<------------------------------------------------------------->>> */

@media (max-width: 800px) {
  .story-card {
    display: flex;
    margin: 0;
    gap: 2em;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .story-card-content {
    flex: 1 1 320px;
    padding: 2em;
    background-color: var(--site-color);
    box-shadow: var(--light-shadow);
    flex-direction: row;
  }
}

/* ################################################################### */
/* ####### ABOUT PAGE MEDIA QUERIES STYLES (max-width: 486px) #######  */
/* ################################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<---------- ABOUT PAGE INTRO SECTION (max-width: 486px) ------->>> */
/* <<<------------------------------------------------------------->>> */
