/* ###################################################### */
/* ###################################################### */
/* #########  MAIN CHECKOUT PAGE LAYOUT STYLES #########  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ########  MAIN CHECKOUT PAGE DESKTOP STYLES #########  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<---------- MAIN CHECKOUT PAGE FORM SECTION (desktop) -------->>> */
/* <<<------------------------------------------------------------->>> */
.nav-container.checkout {
  display: flex;
  justify-content: center;
}

.checkout-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0 6em;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: auto;
  grid-gap: 2em;
}

.checkout-info {
  display: flex;
  width: 100%;
  border: 1px solid #d0d0d0;
  align-items: flex-start;
  flex-direction: column;
  gap: 3em;
}

.checkout-content-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 1em;
}

.checkout-ship-to {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.checkout-ship-to img {
  width: 2em;
}

.checkout-ship-to h3 {
  margin: 0;
}
.ship-to-dropdown {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.ship-to-dropdown p:first-of-type {
  margin: 0;
}

.dropdown-selector {
  display: flex;
}
.dropdown-selector h5 {
  margin: 0;
}

.dropdown-selector img {
  width: 1.5em;
}

/* Form styling start's here */

form.checkout-form {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}
/* 
.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 2em;
  border-radius: 1em;
} */

.short-field {
  display: flex;
  gap: 1.5em;
}

.form-field.short {
  width: 50%;
}

form.checkout-form input {
  position: relative;
  height: 3.2em;
  /* width: 100%; */
  margin: 0;
  border: 1px solid #d0d0d0;
  /* border-radius: 0.5em; */
  padding: 0.5em;
}
form.checkout-form textarea {
  border: 1px solid #d0d0d0;
  border-radius: 0.5em;
  height: 3.2em;
}

form.checkout-form label {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.dropdown-form-fields {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.dropdown-field label {
  margin-left: 0.5em;
}

.dropdown-field select {
  padding: 0.2em;
  margin: 0.5em;
  border: 1px solid #d0d0d0;
  border-radius: 0.5em;
}

.payment-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.form-submit-btn {
  display: flex;
  justify-content: flex-start;
  margin: 1.5em;
}

#submit {
  display: block;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--primary-cta--font-size);
  background-color: var(--primary-cta--bg-color);
  color: var(--primary-cta--color);
  border-radius: var(--primary-cta--border-radius);
  width: 240px;
  cursor: pointer;
}

/* Checkout item styling start's here */

.checkout-item-top {
  display: flex;
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #d0d0d0;
}

.checkout-item-img {
  width: 250px;
}
.checkout-item-top--info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.item-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}
.checkout-item-top--info .h5-light {
  margin: 0;
}
.checkout-quantity-selector {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.quantity {
  display: flex;
  gap: 2em;
}
.quantity p {
  font-weight: bold;
  margin: 0;
}

.-quantity img {
  width: 2em;
}

.close-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 1em;
}

.checkout-item-detail {
  display: flex;
  justify-content: space-between;
}

.checkout-item-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d0d0d0;
  padding-top: 2em;
}

/* ###################################################### */
/* ###################################################### */
/* #######  MAIN CHECKOUT PAGE MEDIA QUERY STYLES ######  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ######  MAIN CHECKOUT PAGE (max-width: 800px) #######  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<----- MAIN CHECKOUT PAGE FORM SECTION (max-width: 800px) ---->>> */
/* <<<------------------------------------------------------------->>> */
@media (max-width: 800px) {
  .nav-container.checkout {
    display: flex;
    justify-content: flex-start;
  }

  .checkout-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 2em;
  }

  .checkout-item {
    grid-row: 1;
    margin-bottom: 3em;
    text-align: center;
    width: 70vw;
  }
}

/* ###################################################### */
/* ###################################################### */
/* #######  MAIN CHECKOUT PAGE MEDIA QUERY STYLES ######  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ######  MAIN CHECKOUT PAGE (max-width: 486px) #######  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<----- MAIN CHECKOUT PAGE FORM SECTION (max-width: 486px) ---->>> */
/* <<<------------------------------------------------------------->>> */
@media (max-width: 486px) {
  .checkout-grid {
    justify-content: center;
  }

  .checkout-content-top {
    align-items: flex-start;
    flex-direction: column;
    border: none;
    padding: 0;
  }

  .checkout-info {
    border: none;
  }

  .ship-to-dropdown {
    width: 100%;
    gap: 0em;
    margin-top: 1em;
  }

  .dropdown-selector {
    width: 100%;
    flex-direction: column;
  }

  .form-wrapper {
    padding: 0;
  }
  form.checkout-form {
    width: 90vw;
  }

  .short-field {
    flex-direction: column;
  }
  .form-field.short {
    width: 100%;
  }

  .dropdown-form-fields {
    display: flex;
    gap: 2em;
    flex-direction: column;
    /* width: 100%; */
  }

  .dropdown-field {
    display: flex;
    flex-direction: column;
  }

  .checkout-item {
    grid-row: 1;
    margin-bottom: 3em;
    text-align: center;
    width: 90vw;
  }
  .quantity {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
  }

  .payment-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }

  .form-submit-btn {
    margin-top: 2em;
  }
}
