/* ###################################################### */
/* ###################################################### */
/* ########## MAIN CONTACT PAGE LAYOUT STYLES ##########  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ########### CONTACT PAGER DESKTOP STYLES ############  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<------------- CONTACT PAGE HERO SECTION (desktop) ----------->>> */
/* <<<------------------------------------------------------------->>> */
section.hero-banner {
  text-align: center;
  height: 40vh;
  margin-top: 0.1em;
  background: var(--light-bg-color);
}

.bread-crumbs {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------- CONTACT PAGE MAP SECTION (desktop) ------------>>> */
/* <<<------------------------------------------------------------->>> */
section.map {
  padding: 0;
}

.container.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 2em;
  padding: 6em 2em 2em;
}

.main-card {
  display: flex;
  background-color: var(--site-color);
  box-shadow: var(--light-shadow);
  padding: 2em;
  flex: 1 1 360px;
}

.address-card-content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-card img {
  width: 3em;
  margin-bottom: 1em;
}

.main-card-large img {
  width: 3em;
  margin-bottom: 1em;
}

.card-social-icons img {
  width: 3em;
  padding-top: 1em;
}

/* <<<------------------------------------------------------------->>> */
/* <<<-------- CONTACT PAGE CONTACT FORM SECTION (desktop) -------->>> */
/* <<<------------------------------------------------------------->>> */

section.contact-form {
  padding-bottom: 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

form.checkout-form.contact {
  width: 80%;
  margin: 0 auto;
}

.contact-detail {
  display: flex;
  gap: 2em;
  width: 100%;
  margin-bottom: 1.5em;
}

.contact-msg {
  display: flex;
  width: 100%;
  justify-content: center;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

#contactMessage {
  height: 10em;
  /* margin-bottom: 2em; */
}

.contact-msg ~ .form-submit-btn {
  margin: 1.5em 0;
}

textarea {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}
textarea:focus-visible {
  border: 0.5px solid #a8a8a8 !important;
}

#contactButton {
  display: inline-block;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: var(--regular-font-size);
  background-color: var(--primary-color);
  color: var(--white-text);
  padding: var(--secondary-cta--padding);
  border: none;
  width: var(--secondary-cta-width);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: none;
}

#contactButtonReset {
  display: inline-block;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: var(--regular-font-size);
  background-color: var(--site-color);
  color: var(--primary-color);
  padding: var(--secondary-cta--padding);
  border: none;
  width: var(--secondary-cta-width);
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  border-radius: none;
}

.btn-flex {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2em;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  background-color: rgb(250, 250, 250);
}

input {
  position: relative;
  height: 3.2em;
  width: 100%;
  margin: 0 auto;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 2em; */
}

input::placeholder {
  color: rgb(195, 195, 195);
  font-size: 0.8rem;
  font-style: italic;
}
textarea::placeholder {
  color: rgb(195, 195, 195);
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5em;
}

/* label::before {
  border: 1px solid red !important;
} */

.form-error {
  color: red;
  margin-top: 1em;
  font-size: 0.8rem;
}
.form-field__contact label::after {
  content: "*";
  color: red;
  padding: 0.3em;
}

.contact-msg label::after {
  content: "*";
  color: red;
  padding: 0.3em;
}

.contact-msg .form-error {
  color: red;
  margin: 1em 0;
}
.form-field__contact {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgb(251, 251, 251) inset !important;
}

.alert.success {
  text-align: center;
  background: #b7e3b4;
  color: var(--primary-color);
  border: 1px solid rgb(6, 107, 25);
  padding: 1em;
}

/* <<<------------------------------------------------------------->>> */
/* <<<------- CONTACT PAGE COLLECTION CARD SECTION (desktop) ------>>> */
/* <<<------------------------------------------------------------->>> */

.no-bg {
  background-color: var(--site-color);
  padding-bottom: 0;
}

/* ###################################################### */
/* ###################################################### */
/* ### MAIN CONTACT PAGE MEDIA QUERIES LAYOUT STYLES ###  */
/* ###################################################### */
/* ###################################################### */

/* ################################################################### */
/* ###### CONTACT PAGE MEDIA QUERIES STYLES (max-width: 800px) ######  */
/* ################################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<----- CONTACT PAGE CONTACT FORM SECTION (max-width: 800px) -->>> */
/* <<<------------------------------------------------------------->>> */
@media (max-width: 800px) {
  form.checkout-form.contact {
    width: 100%;
    /* margin: 0 auto; */
  }
  .contact-detail {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-bottom: 1.5em;
  }

  /* .form-btn {
    width: 100%;
  } */
}

/* ################################################################### */
/* ###### CONTACT PAGE MEDIA QUERIES STYLES (max-width: 486px) ######  */
/* ################################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<--------- CONTACT PAGE HERO SECTION (max-width: 486px) ------>>> */
/* <<<------------------------------------------------------------->>> */
